<div class="question_container">
      <h2>Latest Ruby Questions</h2>

      <% @questions.each do |question| %>
      <%= link_to question_show_path(question.id) do %>
      <div class="item_container">
            <p class="item_meta">Subject: <%= question.subject %> | Posted by: <%= question.name %></p>
            <p class="item_title_qa"><%= question.title %></p>
      </div>
      <% end %>
      <% end %>

</div>


